.header-container {
    display: flex;
    background-color: #12972e;
    padding: 15px;
    text-align: center;
    border-radius: 12px;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
}

.header-link {
    color: #ffffff;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s;
}

.header-link:hover {
    color: #12972e;
}

.logout-container {
    display: flex;
    align-items: center;
}

.logout-button {
    background-color: #ffffff;
    color: #12972e;
    border: none;
    margin-right: 15px;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
    cursor: pointer;
    border-radius: 5px;
}

.logout-button:hover {
    background-color: #12972e;
    color: #ffffff;
    transition: all 0.5s ease-in 0s;
}